.container-message{
    padding-top: 10rem;
}
.container-message .titleOne{
    color: rgb(54,54,252);
    margin-left: 2%;
}
.container-message .list-personne-message{
    margin-left: 20px;
    max-width: 98%;
    margin-bottom: 10px;
}